# Two colored spheres and a cylinder
camera:
{
    resolution = { width = 800.0; height = 800.0; };
    position = { x = 0.0; y = 0.0; z = 0.0; };
    rotation = { x = 0.0; y = 0.0; z = 0.0; };
    fieldOfView = 72.0;
};

materials = (
    { name = "red"; type = "mat"; color = { r = 255; g = 0; b = 0; }; },
    { name = "green"; type = "mat"; color = { r = 0; g = 255; b = 0; }; },
    { name = "blue"; type = "mat"; color = { r = 0; g = 0; b = 255; }; }
);

primitives:
{
    spheres = (
        { x = -0.85; y = -0.45; z = -2.20; r = 0.45; material = "red"; },
        { x = 0.85; y = -0.45; z = -2.20; r = 0.45; material = "red"; }
    );

    cylinders = (
        { x = 0.0; y = -0.10; z = -2.20; radius = 0.20; material = "blue"; }
    );

    planes = (
        { x = 0.0; y = -0.90; z = 0.0; normal = { x = 0.0; y = 1.0; z = 0.0; }; material = "green"; }
    );
};

lights:
{
    directional = (
        { x = 0.9; y = -1.0; z = 0.35; intensity = 0.75; }
    );
};
