#Five pyramids on a plane
camera:
{
    resolution = { width = 800.0; height = 800.0; };
    position = { x = 0.0; y = 1.2; z = 2.0; };
    rotation = { x = -20.0; y = 0.0; z = 0.0; };
    fieldOfView = 72.0;
};

materials = (
    { name = "red"; type = "mat"; color = { r = 255; g = 70; b = 70; }; },
    { name = "green"; type = "mat"; color = { r = 70; g = 255; b = 70; }; },
    { name = "blue"; type = "mat"; color = { r = 80; g = 120; b = 255; }; },
    { name = "yellow"; type = "mat"; color = { r = 255; g = 220; b = 80; }; },
    { name = "gray"; type = "mat"; color = { r = 180; g = 180; b = 180; }; }
);

primitives:
{
    pyramids = (

        { top = {x = -2.0; y = 1.2; z = -4.0;}; point1 = {x = -3.0; y = 0.0; z = -3.0;}; point2 = {x = -1.0; y = 0.0; z = -3.0;}; point3 = {x = -1.0; y = 0.0; z = -5.0;}; point4 = {x = -3.0; y = 0.0; z = -5.0;}; material = "red"; scale = 3.0;},
        { top = {x = 0.0; y = 1.8; z = -5.0;}; point1 = {x = -1.5; y = 0.0; z = -4.0;}; point2 = {x = 1.5; y = 0.0; z = -4.5;}; point3 = {x = 1.0; y = 0.0; z = -6.5;}; point4 = {x = -1.0; y = 0.0; z = -6.0;}; material = "blue";},
        { top = {x = 2.0; y = 1.0; z = -4.0;}; point1 = {x = 1.0; y = 0.0; z = -3.0;}; point2 = {x = 3.0; y = 0.0; z = -4.0;}; point3 = {x = 2.0; y = 0.0; z = -6.0;}; point4 = {x = 0.5; y = 0.0; z = -5.0;}; material = "green"; scale = 1.0},
        { top = {x = -1.0; y = 0.8; z = -7.0;}; point1 = {x = -1.5; y = 0.0; z = -6.5;}; point2 = {x = -0.5; y = 0.0; z = -6.5;}; point3 = {x = -0.5; y = 0.0; z = -7.5;}; point4 = {x = -1.5; y = 0.0; z = -7.5;}; material = "yellow";},
        { top = {x = 1.5; y = 1.3; z = -7.5;}; point1 = {x = 0.5; y = 0.0; z = -7.0;}; point2 = {x = 2.5; y = 0.0; z = -7.2;}; point3 = {x = 2.0; y = 0.0; z = -8.5;}; point4 = {x = 0.8; y = 0.0; z = -8.2;}; material = "red";}
    );

    planes = (
        { x = 0.0;y = -0.01;z = 0.0;normal = { x = 0.0; y = 1.0; z = 0.0; };material = "gray";}
    );
};

lights:
{
    directional = (
        { x = -1.0;y = -1.0;z = -0.3;intensity = 0.8;},
        { x = 1.0;y = -0.5;z = 0.5;intensity = 0.6;}
    );
};