# Reflection demo
camera:
{
    resolution = { width = 800.0; height = 800.0; };
    position = { x = 0.0; y = 0.35; z = 0.4; };
    rotation = { x = 0.0; y = 0.0; z = 0.0; };
    fieldOfView = 72.0;
};

materials = (
    {
        name = "red";
        type = "mat";
        color = { r = 230; g = 50; b = 50; };


    },
    {
        name = "blue";
        type = "mat";
        color = { r = 45; g = 95; b = 230; };


    },
    {
        name = "mirror_floor";
        type = "mat";
        color = { r = 110; g = 110; b = 120; };



    }
);

primitives:
{
    spheres = (
        { x = -0.9; y = 0.0; z = -3.4; r = 0.8; material = "red"; },
        { x = 0.95; y = -0.1; z = -4.3; r = 0.7; material = "blue"; }
    );

    planes = (
        { x = 0.0; y = -0.9; z = 0.0; normal = { x = 0.0; y = 1.0; z = 0.0; }; material = "mirror_floor"; }
    );
};

lights:
{
    point = (
        {
            x = 1.4;
            y = 1.7;
            z = -1.2;
            intensity = 1.6;
            color = { r = 255; g = 245; b = 225; };
        }
    );
    directional = (
        {
            x = -0.4;
            y = -1.0;
            z = -0.25;
            intensity = 0.35;
            color = { r = 170; g = 190; b = 255; };
        }
    );
};
