#Two spheres with a Big Torus
camera:
{
    resolution = { width = 800.0; height = 800.0; };
    position = { x = 0.0; y = 0.5; z = 4.0; };
    rotation = { x = -10.0; y = 0.0; z = 0.0; };
    fieldOfView = 72.0;
};

materials = (
    { name = "red"; type = "mat"; color = { r = 255; g = 70; b = 70; }; },
    { name = "green"; type = "mat"; color = { r = 70; g = 255; b = 70; }; },
    { name = "blue"; type = "mat"; color = { r = 80; g = 120; b = 255; }; },
    { name = "yellow"; type = "mat"; color = { r = 255; g = 220; b = 80; }; },
    { name = "gray"; type = "mat"; color = { r = 180; g = 180; b = 180; }; }
);

primitives:
{
    torus = (
        { x = 0.0;  y = 1.0;  z = -3.0; circle = 0.8; tube = 0.25; material = "red"; scale = 5.0}
    );

    spheres = (
        { x = -1.5; y = 0.5; z = -3.5; r = 0.5; material = "blue"; scale = 0.5 },
        { x = 1.5; y = 0.5; z = -3.5; r = 0.5; material = "green"; scale = 2.0}
    );

    planes = (
        { x = 0.0;  y = -0.5; z = 0.0; normal = { x = 0.0; y = 1.0; z = 0.0; }; material = "gray"; }
    );
};

lights:
{

    directional = (
        { x = -1.0; y = -1.0; z = -0.5; intensity = 0.8; },
        { x = 1.0; y = -0.5; z = 0.5; intensity = 0.6; }
    );
};