#A simple triangle
camera:
{
    resolution = { width = 800.0; height = 800.0; };
    position = { x = 0.0; y = 1.0; z = 0.0; };
    rotation = { x = 0.0; y = 0.0; z = 0.0; };
    fieldOfView = 72.0;
};

materials = (
    { name = "red"; type = "mat"; color = { r = 255; g = 70; b = 70; }; },
    { name = "green"; type = "mat"; color = { r = 70; g = 255; b = 70; }; },
    { name = "blue"; type = "mat"; color = { r = 80; g = 120; b = 255; }; },
    { name = "yellow"; type = "mat"; color = { r = 255; g = 220; b = 80; }; },
    { name = "gray"; type = "mat"; color = { r = 180; g = 180; b = 180; }; }
);

primitives:
{
    triangles = (
        { point1 = {x = 0.0;  y = 1.0; z = -2.0;}; point2 = {x = 1.0;  y = 0.0;   z = -2.0;}; point3 = {x = -1.0; y = 0.0;   z = -2.0;}; material = "blue"; scale = 1.0}
    );
    planes = (
        { x = 0.0; y = -0.90; z = 0.0; normal = { x = 0.0; y = 1.0; z = 0.0; }; material = "green"; }
    );
};

lights:
{
    directional = (
        { x = 0.9; y = -1.0; z = 0.35; intensity = 0.75; }
    );
};