# -------------------------
# Machine Learning
# -------------------------
gymnasium[classic-control]>=0.29.0
gymnasium[box2d]>=1.2.3

# -------------------------
# Agent (RL algorithms)
# -------------------------
torch>=2.11.0
torchrl>=0.11

# -------------------------
# Plot
# -------------------------
tensorboard>=2.20.0
torchplot>=0.2.0

# -------------------------
# Config
# -------------------------
pyyaml>=6.0.3