# CREDENTIALS - REMPLACEZ LES VALEURS APRÈS LE SIGNE =

#EMAIL
SMTP_USER=votre_adresse_gmail@gmail.com # c'est l'adresse mail qui va envoyer les mails
SMTP_PASSWORD=votre_mot_de_passe_d_application_gmail

#AGENT IA
GEMINI_API_KEY=votre_cle_gemini_ici

#RESSOURCES (NEWS)
GNEWS_API_KEY=votre_cle_gnews_ici
NEWS_API_KEY=votre_cle_newsapi_ici